In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("housing.csv")

In [4]:
df.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
12541,-121.49,38.56,52.0,1777.0,368.0,624.0,350.0,3.6729,137800.0,INLAND
9923,-122.31,38.32,35.0,3997.0,762.0,2074.0,703.0,3.2850,138100.0,NEAR BAY
11660,-118.01,33.81,18.0,5238.0,1083.0,3032.0,1065.0,4.4583,190100.0,<1H OCEAN
13452,-117.41,34.10,29.0,1362.0,251.0,776.0,253.0,3.1287,102000.0,INLAND
10481,-117.68,33.59,12.0,3473.0,466.0,1569.0,450.0,8.8636,314000.0,<1H OCEAN

In [5]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]